@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background-color: #B980F0; }
body #section1, body #section2, body #section3, body #home {
  display: inline-block;
  height: 100vh;
  width: 100%; }
body header {
  height: 100vh;
  width: 100vw; }
body header h1 {
  font-size: 100px;
  margin-top: 212px;
  text-align: center;
}


body header h2 {
  font-size: 40px;
  text-align: center; }
body header .header-titles {
  position: relative;
  width: max-content;
}
body header div.header-titles {
  margin-left: 750px;
}
body header img.android__top {
  margin-left: 430px;
}
.header-titles::before,
.header-titles::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-titles::before {
  background: #B980F0;
  animation: typewriter 4s steps(18) 1s forwards;
}
.header-titles::after {
  width: 0.4em;
  background: white;
  animation: typewriter 4s steps(18) 1s forwards,
  blink 500ms steps(18) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
body header img.waves {
  width: 100%;
  height: auto;
  bottom: 0;
  position: absolute; }
body .navigation-bar {
  background-color: #B6F080;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%; }
body .navigation-bar .nav-bar {
  margin-left: 436px;
   }
body .navigation-bar h3 {
  font-size: 30px; }
body .navigation-bar a {
  font-size: 30px;,
  margin-right: 46px;
  margin-left: 120px;
  color: white;
  text-decoration: none; }
body h2 {
  font-size: 40px;
  text-align: center; }
body h3 {
  font-size: 40px;
  text-align: center; }
body .about {
  margin-top: 80px; }
body p {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  text-align: justify;
  width: 500px; }
body .laptop {
  display: flex;
  justify-content: center; }
body .journey__laptop {
  height: 250px;
  width: 290px;
}
body .projects__style {
  margin-top: 80px; }
body .leaning__phone {
  height: 250px;
  width: 290px; }
body .skills__style {
  margin-top: 80px; }
body .progBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}
body .progress {
  height: 2rem;
  border-radius: .5rem;
  font-size: large;
}
body .inner-progressbar {
  padding: 10px;
}
body .trial {
  height: 250px;
  width: 290px; }

footer section .bottom__android {
  margin-left: 89vw; }
.contacts__style {
  padding-left: 800px; }

@media only screen and (max-device-width: 500px) {
  body header h1 {
    font-size: 100px;
    margin-top: 212px; }
  body header h2 {
    font-size: 40px; }
  body header div.header-titles {

    margin-top: 900px;
    margin-left: 250px;
  }
  body header img.android__top {
    margin-left: 0px;
  }
  body header img.waves {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute; }
  body .navigation-bar {
    background-color: #B6F080;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
  }
  body .navigation-bar .nav-bar {
    margin-left: 4px;
    }
  body .navigation-bar h3 {
    font-size: 40px; }
  body .navigation-bar a {
    font-size: 40px;
    margin-right: 46px;
    margin-left: 0px;
    color: white;
    text-decoration: none;
  }
  body h2 {
    font-size: 60px; }
  body h3 {
    font-size: 50px; }
  body .about {
    margin-top: 80px; }
  body p {
    font-size: 32px;
    padding: 45px;
    width: 500px; }
  body .laptop {
    display: flex;
    justify-content: center; }
  body .journey__laptop {
    height: 200px;
    width: 138px; }
  body .projects__style {
    margin-top: 80px; }
  body .leaning__phone {
    height: 250px;
    width: 290px; }
  body .skills__style {
    margin-top: 80px; }
  body .progBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
  }
  body .progress {
    height: 2rem;
    border-radius: .5rem;
    font-size: large;
  }
  body .inner-progressbar {
    padding: 10px;
  }
  body .trial {
    height: 250px;
    width: 100px; }

  footer section {
    margin-bottom: 0px; }
  footer section .bottom__android {
    margin-left: 80vw; }

  .contacts__style {
    padding-left: 325px; }

}

/*# sourceMappingURL=style.css.map */
