@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

h2 {
  font-size: 40px;
  text-align: center; }

h3 {
  font-size: 40px;
  text-align: center; }

header {
  height: 100vh;
  width: 100vw; }
  header h1 {
    font-size: 100px;
    margin-top: 212px;
    text-align: center; }
  header img.waves {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0; }
  header h2::before,
  header h2::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  header h2::before {
    animation: typewriter 6s steps(18) forwards;
    background: #B980F0; }
  header h1::after {
    background: black;
    width: .125em;
    animation: typewriter 6s steps(18) forwards; }
@keyframes typewriter {
  to {
    left: 100%; } }
  header h2 {
    font-size: 40px;
    position: relative;
    text-align: center; }

#section1, #section2, #section3, #home {
  display: inline-block;
  height: 100vh;
  width: 100%; }

body {
  background-color: #B980F0; }
  body nav {
    background-color: #B6F080;
    height: 89px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row; }
    body nav h3 {
      font-size: 30px; }
    body nav div {
      margin-left: 436px;
      margin-top: 28px; }
      body nav div a {
        font-size: 30px;
        margin-right: 46px;
        text-decoration: none; }
  body h2.head {
    margin-top: 46px; }
  body h3.title {
    margin-top: 16px; }
  body img.journey__laptop {
    height: 250px;
    width: 290px; }
  body div.laptop {
    display: flex;
    justify-content: center; }
  body div.trial {
    height: 250px;
    width: 290px; }
  body p {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    text-align: justify;
    width: 500px; }
  body h2.projects__style {
    margin-top: 93px; }
  body img.leaning__phone {
    height: 342px;
    margin-left: 70vw;
    width: 342px; }
  body div.projects {
    border: solid lightcoral 2px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; }
    body div.projects button {
      background-color: #B6F080;
      border-radius: 17px;
      height: 62px;
      width: 224px; }
  body img.project_tab {
    margin-left: 294px; }
  body h2.skills__stlye {
    margin-top: 93px; }
  body img.group {
    margin-top: 114px;
    margin-left: 186px; }

footer h2 {
  margin-bottom: 443px; }
footer div {
  display: flex;
  justify-content: center;
  margin-bottom: 271px; }
  footer div img {
    height: 80px;
    margin-left: 39px;
    margin-right: 39px;
    width: 86px; }
footer section {
  padding: 0;
  margin: 0; }
  footer section img.bottom__android {
    margin-left: 89.60vw; }

@media screen and (min-width: 375px) {
  header {
    width: 100vw;
    height: 100vh; }
    header h1 {
      font-size: 70px; } }

/*# sourceMappingURL=style.css.map */
